.wulff-head {
    background-image: url("../assets/wulff-head.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65% 65%;
}

body {
    background-color: $dark;
}

.component-dark {
    background-color: $dark;
}

.component-white {
    background-color: $white;
    color: $dark;
}
