.icon {
    display: flex;
    align-items: center;

    &.icon-prepend::before {
        content: '';
        display: flex;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &.icon-mail::before {
        background-image: url("../assets/icon-mail.svg");
        width: 1.3em;
        height: 1.3em;
    }
}